@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
$milkteacolor: #c59b7c;
$strawberrycolor: #f4a9df;
$matchacolor: #c5eccb;
$bobacolor: #3b3b3b;
$offwhite: #e3d0bc;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $bobacolor;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-links {
  font-weight: 500;
}

.link {
  color: inherit;
  text-decoration: none;
  // border-bottom: 1px solid $bobacolor;
  margin-right: 1ch;
  padding-bottom: 2px;
  &:hover {
    color: $milkteacolor;
    padding-bottom: 5px;
    border-bottom: 5px solid $milkteacolor;
    font-weight: 900;
  }
}

.footer-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  margin-right: 1ch;
  padding-bottom: 2px;
  &:hover {
    color: $milkteacolor;
    padding-bottom: 5px;
    border-bottom: 5px solid $milkteacolor;
    font-weight: 600;
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  /* padding: 4rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  // font-family: termina;
  font-size: 7.5rem;
  font-weight: 900;

  @media screen and (max-width: 700px) {
    font-size: 6rem;
  }
  margin: 50px 0;
}

h2 {
  // font-family: termina;
  font-size: 2rem;
  font-weight: 500;
  @media screen and (max-width: 700px) {
    font-size: 1.5rem;
  }
}

.portrait-img {
  width: 225px;
  & > * {
    border-radius: 50%;
  }
}

.btn {
  padding: 20px 0;
  width: 50%;
  border: none;
  border-radius: 30px;
  background: $offwhite;

  color: $bobacolor;
  font-size: 1rem;
  // box-shadow: 0px 3px 1px -2px #fff, 0px 2px 2px 0px #fff, 0px 1px 5px 0px #fff;

  &:hover {
    background: rgb(204, 179, 134);
    cursor: pointer;
    transform: scale(1.05);
  }
}

.milk {
  background-color: $milkteacolor;
  width: 100%;
  margin: 0;
  padding-bottom: 200px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.strawberry {
  background-color: $strawberrycolor;
}

.matcha {
  background-color: $matchacolor;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  // max-width: 1440px;
  display: flex;
  flex-flow: column wrap;
}

.about-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin: 20px 0;

  & > * {
    width: 100%;
    max-width: 700px;
    font-size: 1.2rem;
  }
  & > div {
    padding: 20px 10%;
  }
  & > #preface {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
  }

  & > #intro::before {
    content: "H";
    font-size: 3rem;
    margin-top: -2rem;
  }
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  gap: 20px;

  max-width: 800px;
  margin: 20px auto;

  & > * {
    width: 100%;
    font-size: 1rem;
  }
  & > div {
    padding: 20px 3%;
  }
  & > #preface {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
  }

  & > #intro::before {
    content: "H";
    font-size: 3rem;
    margin-top: -2rem;
  }
}

.project-card {
  background: $bobacolor;
  color: $offwhite;
  border-radius: 15px;
  //margin: 20px;
  padding-bottom: 30px;

  max-width: 350px;

  & h2 {
    width: 100%;
  }
}

.technologies-container {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chip {
  background: $offwhite;
  color: $bobacolor;
  border-radius: 20px;
  padding: 7px;
}
.card-links {
  display: flex;
  gap: 15px;
}
.icon-btn {
  cursor: pointer;
  margin-top: 20px;
  &:hover {
    transform: scale(1.15);
    color: #fff;
  }
}

.block {
  max-width: 100px !important;
  height: 5px !important;
  background: $bobacolor;
  padding: 0 !important;
}

/* waves */

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -12px;
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 8s;
}

.parallax > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(2) {
  animation-delay: -6s;
  animation-duration: 17s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.boba {
  background-color: #3b3b3b;
  border-radius: 50%;
  min-width: 270px;
  width: 30%;
  aspect-ratio: 1 / 1;
  display: inline-block;
  color: #e6dac5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  flex-flow: column wrap;
  padding: 0px 15px;
  margin: 200px 0 0 0;
  margin-left: 20%;
}

.flex-end {
  align-self: flex-end;
  margin-right: 15%;
}

.boba * {
  margin: 5%;
}

@media screen and (min-width: 1200px) {
  .boba {
    font-size: 18px;
  }
}

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 15%;
  margin-top: 15%;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.footer {
  padding: 5%;
  background-color: $bobacolor;
  background: rgb(23, 23, 23);
  background: linear-gradient(137deg, rgba(23, 23, 23, 1) 70%, #3b3b3b 100%);
  color: #fff;
  display: flex;
  flex-flow: row wrap;
}

#main-col {
  flex-basis: 70%;
}

.footer-icons {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  margin: 20px 0;
}

.footer-icons .icon {
  &:hover {
    transform: scale(1.1);
    color: $milkteacolor;
    border-color: $milkteacolor;
  }
}

.footer-icons .icon * {
  width: 3rem;
  height: 3rem;
  padding: 10px;

  border-radius: 50%;
  border: 1px solid #fff;

  cursor: pointer;
  &:hover {
    color: $milkteacolor;
    border-color: $milkteacolor;
    border-width: 2px;
  }
}

.copyright {
  padding: 20px;
  padding-left: 2%;
  background-color: black;
  color: rgb(105, 105, 105);
}
